@model KomShop.Web.Entities.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 1100px; margin:auto; margin-top: 25px">
    <!--Informacja-->
    <h1>Przepraszamy</h1>
    <h3>ale wygląda na to, że nie mamy @Model.Quantity szt. @Model.Title</h3>
</div>