@model KomShop.Web.Models.CatMenuModel
<style>
    #link:hover {
        transform: scale(1.1);
    }
</style>
<ul style="list-style-type: none; float:left; text-align: left; margin-right: 25px;">
    @foreach (var Section in Model.Sections)
    {
        if (ViewBag.Section != Section)
        {
            <li id="link">@Html.ActionLink(Section, "ShowCategories", new { section = Section })</li>
        }
        else
        {
            <li><b>@Section</b></li>
            <li>
                <ul style="list-style-type: none; text-align: left">
                    @foreach (var Category in Model.Categories)
                    {
                        <li id="link">@Html.ActionLink(Category, "ShowProducts","Products", new { category = Category },null)</li>
                    }
                </ul>
            </li>
        }
    }
</ul>